#angular-secondary-header {
  background-image: url("https://polyglot-spa-angular-chess.s3.us-east-2.amazonaws.com/dist/angular-chess/assets/board-background.png");
  /*background-image: url("http://localhost:5005/assets/board-background.png");*/
}
